:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* { box-sizing: border-box; }

body {
    background-color: var(--Light-gray);
}

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    width: 380px;
    margin: auto;
    margin-top: 50%;
    border: solid white;
    background-color: var(--White);
    border-radius: 30px;
}

p {
    width: 250px;
    text-align: center;
    margin: auto;
}
