:root {
    --vermelho: #CF6D74;
    --vermelho-claro: #cf6d741e;
    --amarelo: #FFD684;
    --amarelo-claro: #ffd6841f;
    --verde: #46A489;
    --verde-claro: #46a4891c;
    --azul: #3F4AA6;
    --azul-claro: #3f49a61a;
    --fundo-header: #4636F1;
    --fundo-header-claro: #6743FF;
    --fundo-rating: #432EE1;

}

  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

header {
    background-image: linear-gradient(#6743FF, #4636F1);
    text-align: center;
    padding-bottom: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 20rem;
}

h1 {
    color: whitesmoke;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Hanken Grotesk', sans-serif;
    opacity: 80%;
}

header h2, header p {
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}

#circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#432EE1,#4636F1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#circulo h2 {
    font-size: 2.7rem;
    font-family: 'Hanken Grotesk', sans-serif;
}

#circulo p {
    font-size: 0.7rem;
    opacity: 60%;
    padding-top: 0.1rem;
}

#bottom-header h2 {
    padding: 1rem;
}

#bottom-header p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    opacity: 70%;
}

h3 {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Hanken Grotesk', sans-serif;
}

section div {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.5rem;
    padding-right: 0;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h4, p {
    font-family: 'Hanken Grotesk', sans-serif;
}


section div h4, section div p {
    width: 40%;
}

#reaction {
    background: var(--vermelho-claro);
}

#reaction h4 {
    color: var(--vermelho);
}

#memory {
    background-color: var(--amarelo-claro);
}

#memory h4 {
    color: var(--amarelo);
}

#verbal {
    background-color: var(--verde-claro);
}

#verbal h4 {
    color: var(--verde);
}

#visual {
    background-color: var(--azul-claro);
}

#visual h4 {
    color: var(--azul);
}

section div p {
    padding-left: 5rem;
}

button {
    width: 92%;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-color: #303B59;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    background-color: var(--fundo-header-claro);
}